.card {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  background-color: white;
  max-width: 320px;
  padding: 5px 10px;
}

.card-deck {
  margin-left: auto;
  margin-right: auto;
}
/*
Button styling
*/
.btn-primary, .btn-lg, .btn:focus {
  list-style: none;
  text-decoration: none;
  height: 100px;
  width: 250px;
  margin: 2%;
  font-size: 3em;
  background-color: white;
  color: #0275D8;
  border: white;
}

.btn-search {
  background-color: #0275D8;
  color: white;
  height: 60px;
  width: 150px;
  margin: 2% 0%;
  justify-content: center;
}
/*
Jumbotron header styling.
*/
.jumbotron{
  height: 30%;
  background-color: #cc1a1a;
  color: white;
  text-decoration-color: white;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /*background-position: */

}

.jumbotron::after {
  content: '';
  opacity: .5;
  z-index:-1;
  opacity: 0.5;
  position: fixed;
  z-index: -1;
  border-radius: 5px;
}

/* search input and label styling*/

.search-label {
  font-size: 3em;
}

.form-control {
  font-size: 3em;
  height: 40%;
}


/*
Link styles
*/
Link {
  color: white;
}

/*
Footer styles
*/
.footer {
  height: 100px;
  background-color: grey;
  text-align: center;
  color: white;
  background-position: bottom;
  bottom: 0;
  margin-top: 35vh;
  padding-top: 35px;
}

.footer-text {
  color: white;
  font-size: 2em;
}
